In [1]:
import pandas as pd
from sklearn.metrics import mean_squared_error
import numpy as np

# Load the two CSV files (assumed to have common 'Id' and 'Actual'/'Predicted' columns)
actuals_df = pd.read_csv('sample_submission.csv')  # Contains the actual SalePrice values
predictions_df = pd.read_csv('submission.csv')  # Contains the predicted SalePrice values

# Ensure both DataFrames have the same ID for alignment (if necessary)
# This step ensures you are comparing the right predictions with the right actual values.
merged_df = pd.merge(actuals_df, predictions_df, on='Id')

merged_df.head()

     Id    SalePrice_x    SalePrice_y
0  1461  169277.052498  126769.138959
1  1462  187758.393989  158010.882703
2  1463  183583.683570  186381.851435
3  1464  179317.477511  195786.067090
4  1465  150730.079977  189569.178393

In [2]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(merged_df['SalePrice_x'], merged_df['SalePrice_y']))

# Print RMSE
print(f'RMSE: {rmse}')

RMSE: 74324.69204854021